# Limpieza de datos 
## lectura de Archivos

Cargar de librerias

In [7]:
from functools import reduce
from datetime import datetime
from sqlalchemy import create_engine
import pandas as pd
import pymysql

### lectura de csv

- astype para cambiar formato en este caso a un string con str
- dropna para eliminar las celdas que contienen un numero considerable de nulls
- encoding para el tipo de codificacion
- on bad lines ignora las filas defectuosas 
- delimiter es para el tipo de separacion del csv convecionalmente esta dados por ',' pero tambien por ';'

In [8]:
df = pd.read_csv('incidentes_viales_feb_2022.csv', 
    delimiter=',',encoding='latin-1',low_memory=False, on_bad_lines='skip').astype(str).dropna()
df.head(3)

,folio,fecha_creacion,hora_creacion,dia_semana,fecha_cierre,hora_cierre,incidente_c4,delegacion_inicio,latitud,longitud,ano_cierre,clas_con_f_alarma,tipo_entrada,delegacion_cierre,mes_cierre,codigo_cierre
0,C4/131231/03346,2013-12-31,22:44:53,Martes,2014-01-01,02:11:35,accidente-choque sin lesionados,IZTAPALAPA,19.31469,-99.07113,2014,EMERGENCIA,LLAMADA DEL 066,IZTAPALAPA,Enero,I
1,C4/140101/04189,2014-01-01,21:45:43,MiÃ©rcoles,2014-01-01,23:55:59,accidente-choque con lesionados,ALVARO OBREGON,19.36336,-99.19104,2014,URGENCIAS MEDICAS,LLAMADA DEL 066,ALVARO OBREGON,Enero,A
2,C4/140101/03736,2014-01-01,19:47:28,MiÃ©rcoles,2014-01-01,20:27:26,accidente-choque sin lesionados,TLAHUAC,19.29544,-99.05488,2014,EMERGENCIA,LLAMADA DEL 066,TLAHUAC,Enero,A

### Eliminar duplicados de la llave primaria

In [9]:
df = df.drop_duplicates(subset=['folio'])

### eliminar caracteres raros

In [10]:
def carateres (df,columna): 
    undict ={
        'â€¦': '…',     'â€ž':'„',      'â€“': '–',     'â€™': '’',     'â€\x9d':'”',
        'â€š':'„',      'â€°':'‰',      'â€œ': '“',     'â€”':'—',      'Â\xad':' ',
        'Ã©':'é',       'â‚¬':'€',      'â€˜':'‘',      'Â£':'£',       'Ã¢':'â',
        'Â©':'©',       'Ã£':'ã',       'Ãº':'ú',       'Ã¤':'ä',       'â€¢':'•',
        'Ã¡': 'a',      'Ã¼':'ü',       'Â¢':'¢',       'Ã±':'ñ',       'Â½':'Ž',       
        'Ã‰':'É',       'Â¥':'¥',       'Ã§':'ç',       'Ã´':'´',       'Â®':'®',
        'Â¦':'¦',       'Ã¯':'ï',       'Ã¶':'ö',       'Â´':'´',       'Ëœ':'˜',   
        'Â»':'»',       'Ã«':'ë',       'Ã‡':'Ç',       'Ã³':'ó',       'Ãµ':'õ',
        'Ã®':'î',       'Â¾':'¾',       'Â¼':'¼',       'Â°':'°',       'Ã–':'Ö',       
        'Ã¥':'å',       'Ã¨':'è',       'Â¯':'¯',       'Â¬':'¬',       'Ã„':'Ä',
        'Â§':'§',       'Ãœ':'Ì',       'Â¤':'¤',       'Â·':'·',       'Â±':'±',
        'Ã²':'ò',       'Ãƒ':'Ã',       'ÃŸ':'ß',       'Ã’':'Ò',       'Â¡':'¡',
        'Ãª':'ê',       'Â«':'«',       'Ã\x8d':'Í',    'Ã\x81':'Á',    'Ã\xad':'í',
        'Ã¦':'æ',       'Â¿':'¿',       'Ã¸':'ø',       'Ã®':'î',       'Ã½':'ý',   
        'Ã»':'û',       'Ã¹':'ù',       'Å½':'Ž',       'Â¨':'¨',       'Âµ':'µ',
        'Â²':'²',       'Â³':'³',       'Ã¨':'è',       'Â¹':'¹',       'â„¢':'™',
        'Ã¤':'ä',       'Ã“':'Ó',       'Ã\x93': 'o',   'Ã\xad': 'i',   'Ã³': 'o',
        'Ã\x93': 'o',   'ã¡': 'a',      'ã©': 'e',      'Ã©':"é",       'O':'o',
        '/':' ',        '  ':' ',       '   ':' ',      '-':' '
        }

    # obencion de los valores unicos
    x = list(df[columna].unique())
    x = ",., ".join(x)

    # lista de los caracteres raros
    for item in undict:
        if item in x:
            x = x.replace(item,undict[item])
    x = x.encode('ascii', errors='ignore').decode('utf8', errors='ignore')
    x = list(x.split(",., "))

    # comparara y sustitulle las 2 listas, remplazando los caracteres contaminados
    comparacion = []
    for i,j in zip(list(df[columna].unique()),x):
        if i!=j:
            comparacion.append([i,j])
    dic = dict(comparacion)
    return df.replace({columna:dic},regex=True)

In [11]:
df = carateres (df,'incidente_c4')
df = carateres (df,'delegacion_inicio')
df = carateres (df,'clas_con_f_alarma')
df = carateres (df,'delegacion_cierre')

In [12]:
df = carateres (df,'tipo_entrada')

### minusculas

In [13]:
df = df.apply(lambda x: x.astype(str).str.lower())

### Ortografia

In [14]:
dic = {
    'cadavere auxilio': 'cadaver auxilio',
    'cadaver atuxilio': 'cadaver auxilio',
    'caton de auxilio': 'boton de auxilio',
    'lesionado accidente automovilistic': 'lesionado accidente automovilistico',
    'cadav de auxilio': 'cadaver de auxilio',
    '99.00128016': '',
    'coton de auxilio': 'boton de auxilio',
    '99.06513012': '',
}
df = df.replace({'incidente_c4':dic},regex=True)

In [15]:
dic = {
    '2019': 'nan',
    '2016': 'nan',
    '': '',
}
df = df.replace({'delegacion_inicio':dic},regex=True)

In [16]:
dic = {
    'diciembre': 'nan',
}
df = df.replace({'clas_con_f_alarma':dic},regex=True)

In [17]:
dic = {
    'zello':'nan',
    'miercoles':'nan',
    'cadaver atropellado': 'nan',
    'miercol1s': 'nan',
    'mierco': 'nan',
    'sabado': 'nan',
    'cadaver atropell': 'nan',
    'cierco': 'nan',
    'cadavere auxilio': 'nan',
    'crco': 'nan',
    'botn de tropell': 'boton de tropello',
    'cabado': 'nan',
    'cmaro': 'nan',
    'cmado': 'nan',
}
df = df.replace({'tipo_entrada':dic},regex=True)

In [18]:
dic = {
    'botn de auxilio': 'boton de auxilio',
    'cmara': 'camara',
    'llamada app911': 'llamada app 911',
}
df = df.replace({'tipo_entrada':dic},regex=True)

### Fechas y horas

In [19]:
df['fecha_creacion'] = pd.to_datetime(df['fecha_creacion'],errors='coerce',format='%Y-%m-%d')
df['fecha_cierre'] = pd.to_datetime(df['fecha_cierre'],errors='coerce',format='%Y-%m-%d')

In [20]:
df['hora_creacion'] = pd.to_datetime(df['hora_creacion'],format='%H:%M:%S', errors='coerce').dt.time
df['hora_cierre'] = pd.to_datetime(df['hora_cierre'],format='%H:%M:%S', errors='coerce').dt.time

In [21]:
df['dia_semana'] = df['fecha_creacion'].dt.day_name(locale='es_ES.utf8') 
df['mes_cierre'] = df['fecha_cierre'].dt.month_name(locale='es_ES.utf8') 
# df['dia_semana'] = df['fecha_creacion'].dt.day_name(locale='Spanish')

In [22]:
# df['ano_cierre'] = df['fecha_cierre'].dt.year
df['ano_cierre'] = df['fecha_cierre'].dt.year.astype('Int64')

### Cordenadas

In [23]:
def char_fixer(data_frame, series_name):
    cnt=0
    for row in data_frame[series_name]:
        try:
            float(row)
            pass
        except ValueError:
            data_frame.drop([cnt], inplace=True)
        cnt+=1
    data_frame[series_name] = data_frame[series_name].astype('float64', errors='raise')
    data_frame.reset_index(drop=True, inplace=True)

In [24]:
char_fixer(df, 'latitud')
char_fixer(df, 'longitud')

## Comprobacion post data cleaning

In [25]:
df.describe(include=['O'])

,folio,hora_creacion,dia_semana,hora_cierre,incidente_c4,delegacion_inicio,clas_con_f_alarma,tipo_entrada,delegacion_cierre,mes_cierre,codigo_cierre
count,1625607,1623587,1625607,1623587,1625607,1625607,1625607,1625607,1625607,1625605,1625607
unique,1625607,86354,7,86393,30,17,5,14,17,12,6
top,c4/131231/03346,20:44:00,Viernes,21:59:00,accidente choque sin lesionados,iztapalapa,emergencia,llamada del 911,iztapalapa,Octubre,a
freq,1,84,268351,129,874335,265599,921998,952361,267197,153013,687930

In [26]:
df.describe(datetime_is_numeric=True)

,fecha_creacion,fecha_cierre,latitud,longitud,ano_cierre
count,1625607,1625605,1.625162e+06,1.625170e+06,1625605.0
mean,2018-02-13 15:50:58.567292160,2018-02-13 17:47:29.596305664,1.938336e+01,-9.914193e+01,2017.607227
min,2013-12-31 00:00:00,2014-01-01 00:00:00,1.909402e+01,-9.917640e+02,2014.0
25%,2016-04-18 12:00:00,2016-04-19 00:00:00,1.933585e+01,-9.917848e+01,2016.0
50%,2018-03-05 00:00:00,2018-03-05 00:00:00,1.938385e+01,-9.913953e+01,2018.0
75%,2019-11-19 00:00:00,2019-11-19 00:00:00,1.943495e+01,-9.909502e+01,2019.0
max,2022-01-31 00:00:00,2022-01-31 00:00:00,1.953030e+02,-9.892945e+01,2022.0
std,NaN,NaN,2.475268e-01,2.213575e+00,2.224821

---
# Normalizacion para almacenamiento en base de datos
---

## Lista de valores para mes y dia en el orden de mysql

In [27]:
lista = []
mes = {
    'Enero':             1,     'Febrero':    2,   'Marzo':      3,   'Abril':      4,
    'Mayo':              5,     'Junio':      6,   'Julio':      7,   'Agosto':     8,
    'Septiembre':        9,     'Octubre':   10,   'Noviembre': 11,   'Diciembre': 12,
    'nan':              0
}
dia = {
    'Lunes':            1,      'Martes':     2,   'Miércoles': 3,      'Jueves': 4,
    'Viernes':          5,      'Sábado':     6,   'Domingo':   7,      'nan':    0
}
delegacion = { 
    'iztapalapa':        0,     'alvaro obregon':       1,   'tlahuac':               2,
    'coyoacan':          3,     'cuauhtemoc':           4,   'magdalena contreras':   5,
    'gustavo a. madero': 6,     'venustiano carranza':  7,   'tlalpan':               8,
    'iztacalco':         9,     'azcapotzalco':        10,   'xochimilco':           11,
    'benito juarez':     12,    'milpa alta':          13,   'miguel hidalgo':       14,
    'cuajimalpa':        15,    'nan':                 16
}

## Normalizar valores de la tabla principal

In [28]:
for i in df:
    if len(df[str(i)].unique())<=30:
        if str(i) == 'dia_semana':
            lista.append(['dia',dia])
        elif str(i) == 'mes_cierre':
            lista.append(['mes',mes])
        elif str(i) == 'delegacion_cierre' or str(i) == 'delegacion_inicio':
            if ['delegacion',delegacion] in lista:
                pass
            else:
                lista.append(['delegacion',delegacion])
        elif str(i) == 'ano_cierre':
            pass
        else:
            lista.append([str(i),dict(zip(df[str(i)].unique(),range(0,len(df[str(i)].unique()))))])

### Normalizacion automatizada

In [29]:
lista = dict(lista)
for i,j in zip(lista,lista.values()):
    if str(i) == 'dia':
        df = df.replace({'dia_semana': j})
    elif str(i) == 'mes':
        df = df.replace({'mes_cierre': j})
    elif str(i) == 'delegacion':
        df = df.replace({'delegacion_inicio': j})
        df = df.replace({'delegacion_cierre': j})
    else:
        df = df.replace({i: j})

## Crear conexion a la bdd

Para la conexion a la base de datos

mysql+pymysql://__user__:__password__@ *__host ip__* /__Database__

In [30]:
db_connection_str = 'mysql+pymysql://root:Chojin.12@127.0.0.1/Transito_2'
db_connection = create_engine(db_connection_str)

### Guardar tablas normalizadas

- con: establece la conexion
- el for  es para automatizarlo
- con.close cerramos la conexion

In [31]:
con = db_connection.connect()
for i,j in zip(lista,lista.values()):
    try:
        pd.DataFrame(
            [[key, j[key]] for key in j.keys()], columns=[i,'id_'+i]
        ).to_sql(
            name=i , con=con, index=False
        )
    except:
        pass
con.close()

#### Guardar tabla principal

se almacena la tabla principal 

Nota:

*__Ejecutar esta linea puede llevar al menos 10 minutos__*

Tenga consideracion

In [32]:
con = db_connection.connect()
df.to_sql(name='Accidentes_viales' , con=con, index=False)
con.close()

### Guardar tabla principal en csv (opcional)

Por si uno lleva prisa y no tiene esos 10 min

In [33]:
df.to_csv('Datos_limpios.csv',encoding='utf-8',sep=',',index=False)

---
# Cubos
---

In [35]:
from mysql.connector import errorcode
from sqlalchemy import create_engine
from datetime import datetime
from functools import reduce
import mysql.connector
import pandas as pd
import pymysql

## Conexion a la base de datos

In [42]:
config = {
  'user': 'root',
  'password': 'Chojin.12',
  'host': '127.0.0.1',
  'database': 'Transito_2',
  'raise_on_warnings': True
}


try:
    cnx = mysql.connector.connect(**config)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

## Read View

In [43]:
cnx = mysql.connector.connect(**config)
cursor = cnx.cursor(named_tuple=True)
query = ("select * from Acidentes_viales_view")
cursor.execute(query)

df = pd.DataFrame(cursor)

cursor.close()
cnx.close()

## Dimenciones

- ¿Quién?
- ¿Cuándo?
- ¿Dónde?

In [45]:
dimensiones = [
    # ¿Quién?
    # ¿Cuándo?
    'ano','mes','dia',
    # ¿Dónde?
    'delegacion',
]

## Creación de cubos

De toda la información obtenida se agrupara con *__"gruoupby"__* conforme a las dimensiones:
- ¿Qué día?
- ¿Qué mes?
- ¿Qué año?
- ¿Qué delegación?

Para realizar el análisis se contabilizaron todos son strings resolviendo las siguentes cuestiones 
- ¿Cuántos incidentes pasaron?
- ¿Cuántos tipos de alarma se activaron?
- ¿Cuántos medios de comunicación se utilizaron?
- ¿Qué codigos de cierre se llevaron acabo?

Con *__"Size"__* realizamos el conteo mientras que *__"reset_index"__* modificamos el index para que se muestre como una tabla y agregamos el nombre a la columa. Finalente se utilizo *__"copy"__* para duplicar los datos del dataframe

In [50]:
cubo1 = df.groupby(dimensiones+['incidente']).size().reset_index(name='count_incidents').copy()

In [51]:
cubo2 = df.groupby(dimensiones+['alarma']).size().reset_index(name='count_alarms').copy()

In [52]:
cubo3 = df.groupby(dimensiones+['entrada']).size().reset_index(name='count_input_type').copy()

In [53]:
cubo4 = df.groupby(dimensiones+['codigo']).size().reset_index(name='count_closing_code').copy()

In [57]:
print(df.shape, cubo1.shape, cubo2.shape, cubo3.shape, cubo4.shape)

(1625607, 8) (64584, 6) (26689, 6) (42653, 6) (37535, 6)

## Concatencacion de cubos

*__reduce:__* Esta función se utiliza principalmente para llevar a cabo un cálculo acumulativo sobre una lista de valores y devolver el resultado.
Con *__lambda__* se crea una funcion que concatene los valores (*pd.merge*) de los cubos:

- on: para realizar la union con los titulos iguales 
- how: para realizart el tipo de uniun en este caso completa con *outer*

NOTA: *__SOLO SE CONCATENARAN 3 CUBOS YA QUE SI REALIZAMOS UN 4TO EXISTIRIAN MAS DATOS QUE EN LA VIEW ORIGINAL LO QUE PERDERIA EL SENTIDO DEL EJERCICIO, COMO OPCION SECUNDARIA SE PODIAN CREAR 2 CUBOS FINALES CONCATENANDO POR PARES PERO SE DEJARA COMO TRABAJOS FUTUROS__*

In [58]:
cuboF = reduce(lambda x,y:pd.merge(x,y,on=dimensiones,how='outer'),[cubo1,cubo2,cubo3])

Observamos como se obtimizo la busqueda quitando 1M de datos de la tabla original

In [60]:
cuboF.shape

(665996, 10)

---
# Almacenar cubos 
---

In [64]:
con = db_connection.connect()
cuboF.to_sql(name='Cubo_olap' , con=con, index=False)
con.close()

Se almaceno en csv por si no se tiene el tiempo del almacenaje en SQL

In [65]:
cuboF.to_csv('Cubo_olap.csv',encoding='utf-8',sep=',',index=False)